.custom-button{
    height: 50px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px; 
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    width: fit-content;
}
.custom-button:first-child{
    margin-right: 10px;
}

.custom-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.google-sign-in{
    background-color: #4285f4;
    color:white;
}
.google-sign-in:hover{
    background-color: #3578e8;
    color:white;
    border: none;
}

@media screen and ( max-width:480px) {
    .custom-button{
        font-size: 12px;
        min-width: 60px;
        padding: 0px 15px ;
    }    
}
@media screen and (min-width:480px) {
    .custom-button{
        font-size: 14px;
        padding: 0px 10px;
    }
}
    