.custom-button{
    height: 50px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px; 
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    width: fit-content;
}
.custom-button:first-child{
    margin-right: 20px;
}

.custom-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}