.menu-item{
width: clamp(10%,25%,40%);
height: clamp(100px,300px,350px);
display: flex;
align-items: center;
justify-content: center;
flex: 1 1 auto;
border: 1px solid black;
margin:0 7.5px 15px;
overflow: hidden;

    .background-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    &:hover{
        cursor: pointer;

        & .background-image{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25,0.45,0.45,0.95);
        }



    }



    &.large{
        height: 370px;
    }
        

    &:first-child{
        margin-right: 7.5px;
    }
    &:last-child{
        margin-left:7.5px
    }

    .content{
        height: clamp(6%,11%,25%);
        width: clamp(5%,11%,25%);
        border: 1px solid black;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F3E7DF;
        opacity: 0.7;
        font-family: 'Edu NSW ACT Foundation', cursive;
        position: absolute;
    }
    .title{
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 20px;
        color: #4a4a4a;

    }
    .subtitle{
        font-weight: lighter;
        font-size: 14px;
        padding-bottom: 15px;
    }


}
@media screen and (max-width:600px) {
    .menu-item{
       height: clamp(80px,180px,200px);
       &.large{
           height:250px;
       }
    }
    .menu-item .content{
        width: clamp(5%,14%,18%);
        height: 6%;
        padding: 10px;
    }
    .menu-item .title{
        font-size: clamp(10px,18px,25px);
    }
    .menu-item .subtitle{
        font-size:clamp(7px,8px,16px);
        font-weight:600;
        font-size: clamp(8px,11px,24px);
    }
}
    